@charset "UTF-8";

body {
    background-color: #a9df89;
    color: rgba(0, 0, 0, 0.7);
}
p {
    text-align: justify;
    text-indent: 50px;
} 

/* formatação de imagens com legendas */

figure.foto-legenda {
    border: 8px solid #a2ebe5;
}
figure.foto-legenda img {
    width: 100%;
    beight: 100;
}